.top-img
{

    height: 500px;
    width: 90%; 
    
}

.card
{

    margin-top: 60%;
    margin-left: 9%;
}

.award 
{
    margin-top: 10%;
    
   margin-left:  5%;
color:#004badcd ;  
  }

    
      
  
  
  
  
  
  
  
  